<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Borrowing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A16B5B61F4BD2AE00E4596F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A16B5CF1F4BD2AE00E4596F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A16B5DA1F4BD2AE00E4596F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
